body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 217, 0, 0.3);
}
a{
    text-decoration: none;

}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.foto{
    width: 25%;
    min-width: 305px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    border-right:8px solid black ;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgba(235, 204, 69, 0.801);
    box-shadow: 0 15px 40px 0 black;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s;
}
.img>img{
    width: 100%;
}
.img:hover{
    transform: scale(1.2); 
    box-shadow: 0 5px 25px 0 black;
}
.name>p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgba(94, 84, 27, 0.527);
    transition: 0.5s;
    cursor: pointer;
}
.name>p:hover{
  transform: scale(1.1);  
  box-shadow: 0 5px 20px 0 black
}

.about{
    width: 70%;
    min-width: 350px;
}
.education, .preferences,.I-know, .work{
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.61); 
    transition: 1s;
}
.work:hover{
    background-color: rgba(0, 0, 0, 0.41);
    color: rgba(255, 217, 0, 0.459);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.91);
    transform: skew(0.5deg, 0.5deg);
}
.education:hover{
    background-color: rgba(0, 0, 0, 0.61);
    color: rgba(255, 217, 0, 0.459);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.91);
    transform: skew(-0.5deg, -0.5deg);
}
.preferences:hover{
    background-color: rgba(0, 0, 0, 0.61);
    color: rgba(255, 217, 0, 0.459);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.91);
    transform: skew(0.5deg, 0.5deg);
}
.I-know:hover{
    background-color: rgba(0, 0, 0, 0.61);
    color: rgba(255, 217, 0, 0.459);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.91);
    transform: skew(-0.5deg, -0.5deg);
}

.education>p, .preferences>p, .I-know>p, .work>p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.527);
}
.education>p>span, .preferences>p>span, .I-know>p>span, .work>p>span{
    font-size: 33px;
    color: rgb(0, 0, 0);
}
.I-know>p>strong{
    color: black;
    font-size: 25px;
}
.smart{
    color: black;
}

.contacts{
    width: 100%;
}
.git, .tel-mail{
    display: flex;
    justify-content: space-around;
}
.git>div, .tel-mail>div{
    background-color: rgba(255, 217, 0, 0.158);
    border-radius: 50%;
    margin: 8px;
    border: 0.5px solid black;
    transition: 1s;
}
.tel-mail>div:hover{
    transform: scale(1.2);
}
.git>div:hover{
    transform: scale(1.2);
}
.git-big{
    color: rgb(63, 58, 58);
}

i{
    padding: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
@media screen and ( max-width:1100px) {
    .foto{
        width: 100%;
        padding-top: 25px;
        border:1px solid rgba(0, 0, 0, 0.575) ;
        border-radius: 5px;
        align-items: center;

    }
    .about{
        width: 90%;
        margin: 0 auto;
    }
    


    
}





